<h2>Recuperar contraseña</h2>
<p>Se enviara un correo al mail registrado para recuperar su contraseña</p>
<br>

<form action="" id="forgotPasswordForm">
    <label for="">Correo</label>
    <input type="email" name="email" id="email">
    <p id="error-forgotPassword" style="color: red"></p>

    <button type="submit">Enviar</button>    
</form>

<script src="/js/forgotPassword.js"></script>