<div class="loginContain">
  <h2>Login</h2>

  <form action="" id="loginForm">
    <label for="">Email</label>
    <input type="email" name="email">

    <label for="">Password</label>
    <input type="password" name="password" id="passwordLogin">

    <button type="submit">Iniciar sesión</button>
  </form>
  <p id="error-login" style="color:red"></p>
  <a href="/api/login/forgot-password">Olvidaste tu contraseña?</a>
  <br>
  <br>
  <a href="/api/login/github">Ingresar con GitHub</a>
  <button onclick="window.location.href='/api/register'" class="registerBtn">Registrarse</button>

</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>
