<h1>Messages</h1>
<h2>Bienvenido {{userEmail}}</h2>
<div id="messages">
</div>

<form id="messagesForm" action="/" method="POST">
  <input type="text" name="message" placeholder="Mensaje">
  <button type="submit">Enviar</button>
</form>


<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io(); 
  const messages = document.getElementById('messages'); 
  const messagesForm = document.getElementById('messagesForm'); 
  const userEmail = "{{userEmail}}"; 

  // mensaje recibido
  socket.on('new message', (data) => {
    const li = document.createElement('li'); 
    li.innerHTML = `<strong>${data.user}</strong>: ${data.message}`; 
    messages.appendChild(li); 
  });

  // mensajes viejos recibidos
  socket.on('old messages', (data) => {
    data.forEach((message) => {
      const li = document.createElement('li'); 
      li.innerHTML = `<strong>${message.user}</strong>: ${message.message}`; 
      messages.appendChild(li); 
    });
  });

  // manejar el envío de mensajes
  messagesForm.addEventListener('submit', (e) => {
    e.preventDefault(); 
    const messageInput = document.querySelector('input[name="message"]');
    const message = messageInput.value;

    const data = {
      user: userEmail, 
      message: message 
    };
    socket.emit('send message', data); 
    messageInput.value = ''; 
    messageInput.focus(); 
  });
</script>