<h2>Crear nueva contraseña</h2>
<form id="resetPasswordForm" onsubmit="return validatePasswords()" action="/api/login/reset-password/{{email}}" method="POST">
  <input type="password" id="newPassword" name="newPassword" placeholder="Nueva contraseña" required>
  <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Repite la contraseña" required>


  <button type="submit">Guardar</button>
</form>

<script>
function validatePasswords() {
  var newPassword = document.getElementById("newPassword").value;
  var confirmPassword = document.getElementById("confirmPassword").value;

  if (newPassword !== confirmPassword) {
    alert("Las contraseñas no coinciden. Por favor, inténtalo de nuevo.");
    return false; // Evita que el formulario se envíe
  }

  return true; // Permite que el formulario se envíe
}
</script> 