<h2>Crear nueva contraseña</h2>

<form action="" id="resetPasswordForm">
    <input type="hidden" id="userId" value={{email}}>
    <label for="">Ingresa la nueva contraseña</label>
    <input type="password" id="password1">
    <br>
    <label for="">Repite la nueva contraseña</label>
    <input type="password" id="password2">
    <p id="error-resetPassword" style="color: red"></p>    

    <button type="submit">Aceptar</button>    
</form>

<script src="/js/resetPassword.js"></script>