<h2>Registro</h2>

<form action="" id="signupForm">
  <label for="">Nombre</label>
  <input type="text" name="first_name" />

  <label for="">Apellido</label>
  <input type="text" name="last_name" />

  <label for="">Email</label>
  <input type="email" name="email" />

  <label for="">Password</label>
  <input type="password" name="password" />

  <button type="submit">Crear usuario</button>

</form>
<p id="userExist" style="color:red"></p>
<br>

<a href="/">Regresar</a>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/signup.js"></script>